src/main/mule/examples/register-covid-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	    <flow name="post:\cases:application\json:uhub-sapi-config">
		<ee:transform doc:name="correlation id input payload" doc:id="136d889c-fbf0-4776-a872-59e04e601cf5" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="inputPayload" ><![CDATA[payload]]></ee:set-variable>
				<ee:set-variable variableName="correlationId" ><![CDATA[attributes.headers.'x-correlation-id' default uuid()]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="start Logger" doc:id="07bff6f1-2d3e-4cbb-9d37-664a13b4d4a1" message="transectionID: #[vars.transectionId], correlationID: #[vars.correlationId],  started register covid case flow #[payload]" />
		<ee:transform doc:name="prepare covidcase payload" doc:id="dcda7c30-ce12-4589-9668-e2302170778f" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="covidPayload" ><![CDATA[%dw 2.0
output application/java
var actionDate = now() as String {format: "yyyy-MM-dd"}
var owner = "UHIS"
---
{
	national_id: payload.nationalID,
	street_address: payload.address.streetAddress,
	country: payload.address.country,
	city: payload.address.city,
	date_of_birth: payload.dateOfBirth,
	case_type: payload.caseType,
	last_name: payload.lastName,
	source: payload.source,
	national_id_type: payload.nationalIDType,
	update_date: actionDate,
	create_by: owner,
	phone: payload.phone,
	state: payload.address.state,
	postal: payload.address.postal,
	create_date: actionDate,
	update_by: owner,
	first_name: payload.firstName,
	email: payload.email
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<db:insert doc:id="e76610f8-5713-43dc-94ef-1e90882e7994" doc:name="Insert covid case master">
			<db:sql><![CDATA[INSERT INTO cvd_case_master  (source, case_type, first_name, last_name, phone, email, date_of_birth, national_id, national_id_type, street_address, city, state, postal, country, create_date, update_date, create_by, update_by ) VALUES( :source, :case_type, :first_name, :last_name, :phone, :email, To_date(:date_of_birth, 'YYYY-MM-DD'), :national_id, :national_id_type, :street_address, :city, :state, :postal, :country,
To_date(:create_date, 'YYYY-MM-DD'), To_date(:update_date, 'YYYY-MM-DD'), :create_by, :update_by )]]></db:sql>
			<db:input-parameters><![CDATA[#[vars.covidPayload]]]></db:input-parameters>
		</db:insert>
		<db:select doc:id="c0b2ee14-4497-44d9-85b1-4aaad9e346f1" doc:name=" select CASE_ID">
			<db:sql><![CDATA[select max(case_id) as case_id FROM cvd_case_master where national_id = :nationalID]]></db:sql>
			<db:input-parameters><![CDATA[#[{
	nationalID: vars.covidPayload.national_id
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message2" doc:id="b2f49d92-0b2d-4593-93aa-c16ed6986d2f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "caseID":payload[0].CASE_ID
}
]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="statusReason" ><![CDATA["ok"]]></ee:set-variable>
				<ee:set-variable variableName="httpStatus" ><![CDATA[201]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="end log" doc:id="87a06c67-f65f-4606-89c9-c09eaa4f1cfb" message="register covid case flow ended #[payload]" />
    
</flow>
	
</mule>
